.logo-container {
    text-align: center;
    margin-bottom: 0px;
}

.logo-container img {
    max-width: 400px;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ea66d6, #ff5506);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    color: white;
}

label {
    display: block;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

input, .form-control-file {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.btn-primary {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.btn-primary:focus {
    background: rgba(255, 255, 255, 0.3);
    color: white;
}

.btn-secondary {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.btn-secondary:focus {
    background: rgba(255, 255, 255, 0.3);
    color: white;
}

.text-danger.bg-danger {
    background-color: #f8d7da !important;
    color: #721c24 !important;
    padding: 10px;
    border-radius: 5px;
}